* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: indianred;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-fluid {
  padding-left: 0;

  padding-right: 0;
}
.container-header {
  width: 100%;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1531692435623-5ee3b403c033?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG5vYmVsJTIwcHJpemUlMjB3aW5uZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  color: aliceblue;
  font-size: 4rem;
  font-weight: 600;
}
.header__discription {
  color: rgb(102, 36, 36);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 4rem;
  text-align: center;
}

.background-dark {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  background-image: linear-gradient(
    to right top,
    #031a1c,
    #003552,
    #004c95,
    #4a52c9,
    #d12bd1
  );
}
.priavcy-cookie {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  /* height: 2rem; */
  /* padding: 1rem; */
  font-size: 1.2rem;
}
.priavcy-cookie.show {
  opacity: 1;
}
.footer {
  padding: 0.5rem;
}
